// base
@use 'base' as *;

// components
@use 'components/layout' as *;
@use 'components/buttons' as *;
@use 'components/header' as *;
@use 'components/footer' as *;
@use 'components/hero' as *;
@use 'components/sections' as *;
@use 'components/booking' as *;
@use 'components/error' as *;
@use 'components/cards' as *;
@use 'components/form' as *;
@use 'components/table' as *;

/* Añade espacio entre slides */
.slick-slide {
  margin: 0 15px;
}

/* Para evitar que se corte el último slide */
.slick-list {
  margin: 0 -15px;
}

@import './app.css';

[data-aos] {
  opacity: 0 !important;
  transition-property: opacity, transform !important;
}
[data-aos="fade-up"] {
  transform: translateY(30px);
}
[data-aos="fade-down"] {
  transform: translateY(-30px);
}
[data-aos="fade-left"] {
  transform: translateX(-30px);
}
[data-aos="fade-right"] {
  transform: translateX(30px);
}


[data-aos].aos-animate {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

html {
  scroll-behavior: smooth;
}