@use '../base' as *;

.button{
  &__primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: $primary;
    color: $white;
    font-size: 16px;
    transition: all 350ms ease-in-out;
    @include hover {
      background-color: $primary-darken;
    }
    @media (max-width: 1025px) {
      font-size: 12px;
    }
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  &__secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: $secondary;
    color: $white;
    font-size: 16px;
    transition: all 350ms ease-in-out;
    @include hover {
      background-color: $secondary-darken;
    }
    @media (max-width: 1025px) {
      font-size: 12px;
    }
  }
  &__gray {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: #6b757d;
    color: $white;
    font-size: 16px;
    transition: all 350ms ease-in-out;
    @include hover {
      background-color: #5a636b;
    }
    @media (max-width: 1025px) {
      font-size: 12px;
    }
  }
  &__danger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: $danger;
    color: $white;
    font-size: 16px;
    transition: all 350ms ease-in-out;
    @include hover {
      background-color: $danger-darken;
    }
    @media (max-width: 1025px) {
      font-size: 12px;
    }
  }

  &--small {
    padding: 4px 8px;
    font-size: 14px;
    @media (max-width: 1025px) {
      font-size: 10px;
    }
  }
  &--large {
    padding: 10px 20px;
    font-size: 18px;
    @media (max-width: 1025px) {
      font-size: 14px;
    }
  }
}