@use '../base' as *;

.card {
  // background-color: #fff;
  padding: 20px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // border: 1px solid #d2d2d2;
  @media (max-width: 992px) {
    padding: 20px;
  }
  &--ghost {
    @extend .card;
    background-color: transparent;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    &--button {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &--title {
      color: $white;
      font-family: 'Inter', sans-serif;
    }
    &--description {
      color: rgb(255 255 255 / 0.8);
      font-size: 14px;
    }
  }
  &__benefit {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    align-items: center;
    padding: 24px;
    background-color: $white;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition: box-shadow 350ms ease;
    @include hover  {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    &--icon {
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #dbbd1a33;
      margin-bottom: 24px;
    }
    &--title {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0;
    }
    &--description {
      text-align: center;
      max-width: 300px;
      margin-top: 12px;
      color: rgb(75 85 99);
    }
  }
  &__service {
    $card: &;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.75rem;
    width: 300px;
    overflow: hidden;
    align-items: center;
    background-color: $white;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition: box-shadow 350ms ease;
    @include hover  {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      #{$card} {
        &--image {
          transform: scale(1.1);
        }
      }
    }
    &--picture {
      width: 100%;
      height: 250px;
      overflow: hidden;
    }
    &--content {
      padding: 24px;
      // height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 350ms ease;
    }
    &--title {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0;
    }
    &--description {
      margin-top: 12px;
      color: rgb(75 85 99);
    }
    &--button {
      margin-top: auto;
    }
  }
}