$primary: #1152d4; 
$primary-darken: #033394; 
$secondary: #22c55e; // dark
$secondary-darken: #16a34a; // dark
$tertiary: #C7C046;
$danger: #ef4444; // dark
$danger-darken: #dc2626; // dark
$gray: #111318;
$black: #1E1E1E; // dark
$white: #FFFFFF; // white
// $bg-color: #f3f4f6;
$bg-color: #101622;
$border-color: #1e293b; 
.bg-primary {
    background-color: $primary;
}