$primary: #50A7E5; 
$secondary: #C7465F; // dark
$tertiary: #C7C046;
$gray: #4E6872;
$black: #1E1E1E; // dark
$white: #FFFFFF; // white
$bg-color: #f3f4f6;
.bg-primary {
    background-color: $primary;
}